<section>
        <div class ="container">
            <div class ="row">
        
            <div class="col-md-6">
                <p>こん</p>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">メールアドレス</label>
                    <input class="form-control form-control-lg" type="email" id="email" placeholder="Enter email">
                    <small class="form-text text-muted">メールアドレスを記入</small>
                </div>
                <div class="form-group">
                    <label for="password">パスワード</label>
                    <input class="form-control" type="password" id="password" placeholder="Password" readonly="">
                </div>
                
               
                <button class="btn btn-dark" type="button">新規登録</button>
                

            </div>
        
        </div>
    </section>