<section>
    <div class="container">
 
        <%= link_to'新規投稿',new_path,class: "btn btn-primary" %>
        <% @posts.each do |post| %>
        <div class="media pb-3">
            <img class="mr-3 align-self-center" src="https://source.unsplash.com/random/90x94">
            <div class="media-body">
                <h5><%= post.user_name %></h5>
                <p><%= post.content %></p>
                <p><small><%= post.created_at %></small></p>
            </div>
        </div>
        <% end %>
        
    </div>



</section>